name: Docker Image CI

on:
  push:
    branches:
      - main
  pull_request:
  # Absence of the branches property under pull_request means it will apply to all branches

jobs:
  lint-test:
    # uses: ai-cfia/github-workflows/.github/workflows/workflow-lint-test-node.yml@main
    uses: ai-cfia/github-workflows/.github/workflows/workflow-lint-test-python.yml@main
    secrets: inherit

  build:
    # if: github.ref == 'refs/heads/main'
    needs: lint-test
    uses: ai-cfia/github-workflows/.github/workflows/workflow-build-container.yml@main
    with:
      container-name: ${{ github.event.repository.name }}
      tag: ${{ github.sha }}
    secrets: inherit

  deploy:
    # if: github.ref == 'refs/heads/main'
    needs: build
    uses: ai-cfia/github-workflows/.github/workflows/workflow-deploy-gcp.yml@main
    with:
      container-name: ${{ github.event.repository.name }}
      tag: ${{ github.sha }}
    secrets: inherit
